html, body {
  margin: 0;
  padding: 0;
}

pre {
  font-size: 14px;
}

header h1 {
  font-weight: normal;
}

.hidden {
  display: none !important;
}

.text-center { text-align: center; }

/* Customization on the toolbar. */
/* Adds a label to the toolbar so it is like a status bar */
[role="toolbar"] span {
  color: #FFF;
  line-height: 4rem;
  height: 4rem;
  font-size: 1.4rem;
  margin-left: 1rem;
  text-overflow: ellipsis;
}

/* We want to get rid of the border */
[data-type="list"] {
  padding: 0;
}

[data-type="list"] li p {
  margin: 0 2.2rem;
}

[data-type="list"] p[scroll] {
  overflow: scroll;
}

[data-type="list"] > header {
  margin: 1.2rem 0 0 0;
}

[data-type="list"] > header > span {
  margin: 0 1.2rem;
}

[data-type="list"] aside.pack-end {
  margin: 0 0.8rem 0 0;
  height: auto;
  transform: translate(0, -50%);
  top: 50%;
}

[data-type="list"] aside.pack-end > button,
[data-type="list"] aside.pack-end > a[role="button"] {
  margin: 0;
  padding: 0 0.8rem;
  font-weight: 400;
}

/* headers back button */
/* Yeah. not available in original gaia */
/* So the back button will show up */
section[role="region"] > header:first-child {
  margin-left: -1.6rem;
}

section[role="region"] > header:first-child > a {
  width: 6rem;
}

section[role="region"] > header:first-child > a .icon.icon-back {
  background-position: center center;
  width: 5.5rem;
}

section[role="region"] > header:first-child > a .icon:after {
  width: 4rem;
}

section[role="region"] > header:first-child > a {
  background-position: 4rem center;
}

section[role="region"] > header:first-child h1 {
  margin-left: 5rem;
}

.list-style-container {
  padding: 0 2.2rem;
}

.list-style-container select,
.list-style-container input{
  width: 100%;
  margin-bottom: 1rem;
}

.list-style-container label,
.list-style-container p {
  display: block;
  margin: 1rem 0;
  width: 100%;
  font-size: 1.8rem;
}

.list-style-container hr {
  margin: 1.5rem 0;
}

.list-style-container h1 {
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
}

h1.really-big {
  font-size: 3.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(34, 34, 34);
  font-weight: 100;
}

progress:not(value).center {
  display: block;
  margin: 2rem auto;
}

#settings h1 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 400;
}

#legal {
  padding: 1rem;
  font-size: 1.4rem;
}

#legal h1, #legal h2, #legal h3, #legal h4, #legal h5, #legal h6 {
  font-weight: 500;
}

#legal h1 {
  text-align: center;
}

#about pre {
  text-align: center;
  font-size: 13px;
}