.placeholder-img { cursor: pointer; opacity: 0.6; }
.placeholder-img:hover { cursor: pointer; opacity: 1; }

#toc { display: none; } /* We don't need the toc */

div[viewer] {
  font-size: 16px;
  padding: 10px 16px;
}
.title-bar {
  background: #565d65;
  color: #fff;
  padding: 10px 16px;
  width: calc(100% - 32px);
}

.title-bar h1 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.title-bar.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}

#doc-content h1,
#doc-content h2 {
  font-weight: normal;
}
#doc-content h1 {
  font-size: 18px;
}
#doc-content h2 {
  font-size: 16px;
}
#doc-content img,
#doc-content video {
  max-width: 100%;
}
#doc-content ul,
#doc-content ol,
#doc-content dl {
  margin: 0 0 1em 1.5em;
  padding: 0;
}
#doc-content ul li,
#doc-content ol li,
#doc-content dl li {
  margin: 6px 0;
  padding: 0;
}
#doc-content ul li p,
#doc-content ol li p,
#doc-content dl li p {
  margin: 0;
}
#doc-content ul li ol,
#doc-content ol li ol,
#doc-content dl li ol,
#doc-content ul li ul,
#doc-content ol li ul,
#doc-content dl li ul,
#doc-content ul li dl,
#doc-content ol li dl,
#doc-content dl li dl {
  margin: 0 0 0 6px;
}
#doc-content .note,
#doc-content #toc {
  background: #eef2f5;
  border: 1px solid #e4ebee;
  margin: 20px 0;
  padding: 10px 12px;
}
#doc-content .note h2,
#doc-content #toc h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
#doc-content .note h2:first-child,
#doc-content #toc h2:first-child {
  margin-top: 0;
}
#doc-content .note ul,
#doc-content #toc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#doc-content .note ul > li ul,
#doc-content #toc ul > li ul {
  padding-left: 16px;
}
.warning,
.warning-box {
  background: url('/static/img/warning-stripes.png') top left repeat-x #ffffee;
  border: 1px solid #fffbe7;
  margin: 20px 0 20px 0;
  padding: 20px 30px 20px 30px;
  font-size: 16px;
}

#not-found p {
  margin-bottom: 5rem;
}