[data-type="list"] label,
#installer label {
    display: block;
    margin: 1rem 2.2rem;
    font-size: 1.8rem;
}

#installer #install-button {
  margin-top: 2rem;
}

#installer #install-button > button {
  margin: 0 2.2rem;
  width: calc(100% - 4.4rem);
}

#installer select {
  display: block;
  width: calc(100% - 4.4rem);
  margin: 0 2.2rem;
}

#installer hr {
  margin: 1.5rem 0;
}

#installer [data-type="list"] p {
  overflow: hidden;
}

#installer [data-type="list"] li.downloading > progress {
  width: calc(100% - 4.4rem);
  margin: -0.6rem 2.2rem 0 2.2rem;
}

#installer [data-type="list"] li.downloading > p > span {
  position: absolute;
  right: 2.0rem;
  text-align: right;
}

