<div class="row">
  <div class="small-12 columns">
    <div ng-hide="installed">
    <alert showclose="false" type="secondary">
      Looks like you don't have oSUMO installed! Don't worry, this is why you are
      on this page. :)
    </alert>
    </div>

    <button id="install-app" class="expand" ng-hide="installed" ng-click="installApp()">Install App</button>

    <hr ng-hide="installed" />

    <p>oSUMO needs to download content in order to run offline. Please select
    the products you are interested in and press 'Download Content'.</p>

    <div class="center">Product</div>
    <select id="installer-select-product" ng-model="product">
      <option ng-repeat="product in products" value="{{ product.id }}">{{ product.name }}</option>
    </select>
    <div class="center">Language</div>
    <select id="installer-select-language" ng-model="language">
      <option ng-repeat="language in languages" value="{{ language.id }}">{{ language.name }}</option>
    </select>
    <button id="install-bundle" class="expand" ng-click="installBundle()">Download Content</button>

    <hr />

    <div class="center">Installed Content</div>

  </div>
</div>