<div class="row">
  <div class="small-12 columns">
    <input type="text" ng-model="query" placeholder="Search" />
    <select ng-model="bundle" ng-options="bundle.id as bundle.name for bundle in bundles">
    </select>
    <button class="small right" ng-click="search()" l10n>Search</button>
    <hr />
    <div ng-show="results != null">
      <div ng-repeat="doc in results">
        <p><a href="/{{ locale }}/kb/{{ doc.slug }}">{{ doc.title }}</a></p>
      </div>
    </div>

    <div ng-show="results.length == 0">
      <p class="center" l10n>No results found.</p>
    </div>
  </div>
</div>