<section data-type="list">
  <header ng-show="topic.children.length > 0"><span l10n>Subtopics</span></header>
  <ul ng-show="topic.children.length > 0">
    <li ng-repeat="subtopic in topic.children">
      <a href="/{{ locale }}/products/{{ product }}/{{ subtopic.slug }}">
        <p>{{ subtopic.name }}</p>
      </a>
    </li>
  </ul>
  <header ng-show="topic.docs.length > 0"><span l10n>Articles</span></header>
  <ul ng-show="topic.docs.length > 0">
    <li ng-repeat="doc in topic.docs">
      <a href="/{{ locale }}/kb/{{ doc.slug }}">
        <p>{{ doc.name }}</p>
      </a>
    </li>
  </ul>
</section>
