<div class="row">
  <div class="small-12 columns">
    <h6 class="center" ng-show="topic.children.length > 0">Subtopics</h6>
    <a href="/bundle/{{ locale }}/{{ product }}/{{ subtopic.key }}" class="secondary expand small button" ng-repeat="subtopic in topic.children">{{ subtopic.name }}</a>
    <hr ng-show="topic.docs.length > 0 && topic.children.length > 0" />
    <h6 class="center" ng-show="topic.docs.length > 0">Articles</h6>
    <a href="/bundle/{{ locale }}/{{ product }}/{{ topic.key }}/{{ doc.key }}" class="secondary expand small button" ng-repeat="doc in topic.docs">{{ doc.name }}</a>
  </div>
</div>