<!DOCTYPE html>
<html manifest="/manifest.appcache">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% for css in csses %}
    <link rel="stylesheet" type="text/css" href="{{ css }}">{% endfor %}
    <title>Offline Mozilla Support</title>

    <script src="/meta.js"></script>
</head>

{% raw %}
<body role="application" ng-app="osumo">
  <nav id="sidebar" ng-controller="NavbarController">
    <div id="search-bar">
        <form id="search" action="/search">
        <input type="hidden" name="product" id="search-product" />
        <input type="hidden" name="locale" id="search-locale" />
        <input name="q" placeholder="Search" required="required" type="search" l10n translate-attr="placeholder" />
        <button class="icon-search" type="submit" l10n>Search</button>
    </form>

    </div>

    <header l10n>Navigation</header>
    <a href="/" l10n menubutton>Browse</a>
    <a href="/install" l10n menubutton>Manage Articles</a>
    <a href="/languages" l10n menubutton>Switch Language</a>

    <header l10n>Other</header>
    <a href="/about" menubutton l10n>About</a>
    <a id="switch-to-online-site" ng-href="https://support.mozilla.org/{{ locale }}/home" l10n>Switch to online site</a>
  </nav>


  <section role="region">
    <header>
    <a href="javascript:history.go(-1)"><span class="icon icon-back">back</span></a>
      <menu type="toolbar">
        <button menubutton><span class="icon icon-menu">menu</span></button>
      </menu>
      <h1 id="app-title">Loading...</h1>
    </header>
    <div role="main" ng-view>
      <progress class="center"></progress>
    </div>
  </section>



  <div ng-controller="ToastController">
    <section role="status" ng-class="{active: appNeedsUpgrade, 'has-icons': true}">
      <a href="" class="icon icon-upgrade" ng-click="upgradeApp()"></a>
      <p l10n>Your app is out of date and needs an upgrade.</p>
    </section>

    <section role="status" ng-class="{active: needsUpdate, 'has-icons': true}">
      <a href="" class="icon icon-upgrade" ng-click="updateArticles()"></a>
      <p l10n>Updates are available to the articles you've downloaded.</p>
    </section>

    <section role="status" ng-class="{active: active}">
      <a href="" class="close icon" ng-show="showclose" ng-click="untoast()">&times;</a>
      <p ng-bind-html-unsafe="html"></p>
    </section>
  </div>
{% endraw %}

  {% autoescape off %}
  {{ partials }}
  {% endautoescape %}

  <script src="/static/js/locales.js"></script>
  <script src="/static/js/vendors/angular.min.js"></script>
  {% for script in scripts %}
  <script src="{{ script }}"></script>{% endfor %}
  <script src="/static/js/vendors/l10n.js"></script>
</body>
</html>
